<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 ">
                <div class="about-img"><img src="~/img/about.jpg" class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h2 style="font-family:'Dancing Script', cursive">WHAT IS Yalla Nakol</h2>
                    <hr>
                    <p>Millions of people around the world ask the same question everyday “What will I eat today?” It’s the question that triggered the journey to build Yalla Nakol
                     Yalla Nakol is an Egypt based company that started in 2021 with the vision to help people decide what to eat.
                    We are building a platform that combines a social, visual and personalized experience to help people discover and order the food they love.</p>
                </div>
            </div>
        </div>
    </div>
</div>