@model IEnumerable<YallaNakol.Data.Models.Restaurant>

@{
    ViewData["Title"] = "AdminPanel";
}

<h2>Admin Panel</h2>

<table class="table">
    <thead>
        <tr>
            <td>
                <a class="btn btn-warning" asp-controller="Restaurants" asp-action="Index">Manage Restaurants</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-warning" asp-controller="Menus" asp-action="Index">Manage Menus</a>

            </td>
        </tr>
    </thead>
</table>
