@model Dish 
@{ string c = Model.Category.Name;}
 
<div class="col-sm-6 col-md-4  @c">
    <div class="portfolio-item">
        <div class="hover-bg">
            <div class="hover-text">
                <a asp-action="Details" asp-controller="Dishes" asp-route-id="@Model.Id">Dets</a>
            </div>
            <img src="@Model.ImageUrl" class="img-responsive" alt="Project Title">
            <p class="text-secondary"> @Model.Description</p>


        </div>
    </div>
</div>