@model Restaurant
@using System.Text
@{ var RestaurantCategory = new StringBuilder(); }

<style>
    .Restaurant-item-Display {
        position: relative;
        overflow: hidden;
    }

    .newLayoutlayer {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.7);
        text-align: center;
        padding: 20px;
        transition: top 0.8s ease-in-out;
    }

    .Restaurant-item-Display:hover .newLayoutlayer {
        top: 0;
    }

    .py-2 {
        padding: 8px;
    }

    .py-3 {
        padding: 12px;
    }
</style>

@foreach (var item in Model.Categories)
{
    RestaurantCategory.Append(item?.Name ?? "All");
    RestaurantCategory.Append(" ");
}


<div class="col-md-4 col-sm-6 py-3 @RestaurantCategory.ToString()">
    <div class="Restaurant-item-Display text-center">
        <img src="@Model.ImageUrl" class="img-rounded" style="max-width:100%; height:250px;">
        <div class="newLayoutlayer">
            <h3>@Model.Name</h3>
            <a asp-action="CustomerDetails" asp-controller="Restaurants"
               asp-route-id="@Model.Id" class="btn btn-primary">Order Now</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
            </svg>
            <span>90mins</span>
        </div>

        <div class="col-md-4 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>
            <span>Live Track</span>
        </div>

        <div class="col-md-4 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-emoji-smile" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
            </svg>
            <span>Reviews</span>
        </div>
    </div>
</div>

