@model Restaurant



<div class="col-sm-6 col-md-4  breakfast">
    <div class="portfolio-item">
        <div class="hover-bg">
            <div class="hover-text">
                <h4>Dish Name</h4>
            </div>
            <img src="@Model.ImageUrl" class="img-responsive" alt="Project Title">
            <p class="text-secondary"> @Model.Description</p>
        </div>
    </div>
</div>