@model int
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    @if (Model > 0)
    {
        <li>
            <a asp-controller="ShoppingCart" asp-action="Index">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span id="cart-status">
                    @Model
                </span>
            </a>
        </li>
    }