<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- the targets to write to -->
    <!-- write logs to file -->
    <target name="AllLogs" xsi:type="File" fileName="../../../../Logs/AllLogs-${shortdate}.txt"/>
    <target name="AllLogsController" xsi:type="File" fileName="../../../../Logs/AllLogsController-${shortdate}.txt"/>
    <target name="ControllerInformationLog" xsi:type="File" fileName="../../../../Logs/ControllerInformationLog-${shortdate}.txt"/>
    <target name="AllWarningsLog" xsi:type="File" fileName="../../../../Logs/AllWarningsLog-${shortdate}.txt"/>
  </targets>

  <rules>
    <!--to log in database go to https://knightcodes.com/.net/2016/05/25/logging-to-a-database-wth-nlog.html -->
    <!--Levels are as follows (Trace-Debug-Info-Warn-Error-Fatal) that nlog takes only-->
    <!--name – Match logger-name of the Logger-object - may include wildcard characters (* and ?)-->
    <!--minlevel – minimal level to log-->
    <!--maxlevel – maximum level to log-->
    <!--level – single level to log-->
    <!--levels - comma separated list of levels to log-->
    <!--writeTo – comma separated list of targets to write to-->
    <!--final – no rules are processed after a final rule matches-->
    <!--enabled - set to false to disable the rule without deleting it-->
    <!--ruleName - rule identifier to allow rule lookup with Configuration.FindRuleByName and Configuration.RemoveRuleByName. Introduced in NLog 4.6.4-->
    <logger name="*" minlevel="Trace" writeTo="AllLogs"/>
    <logger name="YallaNakol.UI.Controllers.*" minlevel="Trace" writeTo="AllLogsController" />
    <logger name="YallaNakol.UI.Areas.*" minlevel="Trace" writeTo="AllLogsController" />
    <logger name="YallaNakol.UI.Controllers.*" minlevel="Information" writeTo="ControllerInformationLog" />
    <logger name="YallaNakol.UI.Areas.*" minlevel="Information" writeTo="ControllerInformationLog" />
    <logger name="*" minlevel="Warning" writeTo="AllWarningsLog"/>
  </rules>
</nlog>