@model YallaNakol.UI.ViewModels.CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}
<header>
    <style>
        #map {
            order: 2;
            width: 800px;
            height: 800px;
            border: 1px solid black;
            position: relative;
        }
        .cont{
            display:flex;
             justify-content:space-between;
        }
        .lft {
            order:1;
            width:60%;
        }
        #map::after {
            z-index:100;
            width: 22px;
            height: 40px;
            display: block;
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -40px 0 0 -11px;
            background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
            background-size: 22px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */
            pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
        }
    </style>
</header>
<body>
    <div class="cont">
        <div class="lft">
            <h2>Checkout</h2>

            <h4>Order</h4>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select asp-for="Order" class="form-control" id="addressList" asp-items="@Model.Addresses"></select>
                        <label asp-for="Addresses" class="control-label"></label>
                    </div>
                    <input type="button" class="button" value="Add New Order Info" id="btnAdd"/>
                    <form asp-action="Checkout">
                        @Html.AntiForgeryToken();
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Order.FirstName" class="control-label"></label>
                            <input asp-for="Order.FirstName" class="form-control" />
                            <span asp-validation-for="Order.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.LastName" class="control-label"></label>
                            <input asp-for="Order.LastName" class="form-control" />
                            <span asp-validation-for="Order.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.Address.City" class="control-label"></label>
                            <input id="city" asp-for="Order.Address.City" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.Address.Area" class="control-label"></label>
                            <input id="area" asp-for="Order.Address.Area" class="form-control" disabled />
                            <span asp-validation-for="Order.Address.Area" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.Address.Zone" class="control-label"></label>
                            <input id="zone" asp-for="Order.Address.Zone" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.Address.Phone" class="control-label"></label>
                            <input asp-for="Order.Address.Phone" class="form-control" />
                            <span asp-validation-for="Order.Address.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.Address.DetailedInfo" class="control-label"></label>
                            <input asp-for="Order.Address.DetailedInfo" class="form-control" />
                            <span asp-validation-for="Order.Address.DetailedInfo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.Email" class="control-label"></label>
                            <input asp-for="Order.Email" class="form-control" />
                            <span asp-validation-for="Order.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <input type="submit" value="Create" class="btn btn-default " />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="map">
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBmnATbcsItV07AIzYhG-6E0ZYgZgTkh3w"></script>
    <script src="~/js/Map.js"></script>
</body>