@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.Extensions.Configuration;

@inject IConfiguration configration

@{

}

<h3>Continue With Payment</h3>


<p class="radioPayment">
    <label class="lblPayment">Pay With Cash</label>
    <input type="radio" id="radioCash" name="paymentMethod" />
</p>
<p class="radioPayment" >
    <label class="lblPayment">Pay With Visa</label>
    <input type="radio" id="radioVisa" name="paymentMethod" checked />
</p>

<div id="payment">
    <form id="heh" action="/Orders/Processing" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key=@configration["StripeApiKey"]
                data-amount="@ViewBag.PaymentAmount"
                data-name="YallaNakol"
                data-description="Payment for your cart"
                data-image="https://i.pinimg.com/236x/02/fd/5c/02fd5cc15841730936c0c5c555dae3a9.jpg"
                data-locale="en"
                data-zip-code="true"
                data-label="Pay With Visa">
        </script>
        @Html.AntiForgeryToken()
    </form>
    <a id="btnCash" class="btn btn-danger" asp-controller="Orders" asp-action="PaymentComplete">Cash On Delivery</a>
</div>

<style>
    #btnCash {
        display: none;
    }

    .lblPayment {
        font-size: 1.5rem;
    }

    #radioPayment {
       margin:5px;
    }

    .container{
        display:flex;
        flex-direction:column;
    }
    .container>*{
        margin:0px auto;
    }

</style>

<script>
    document.querySelector("#radioCash").addEventListener("change", function () {
        $("#heh>button").toggle() // visa
        $("#btnCash").toggle();
        console.log("ABC");
    });
    document.querySelector("#radioVisa").addEventListener("change", function () {
        $("#heh>button").toggle() // visa
        $("#btnCash").toggle();
        console.log("ABC");
    });
</script>
